@font-face {
    font-family: robo;
    src: url(/assets/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: robo-t;
    src: url(/assets/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: robol;
    src: url(/assets/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: robob;
    src: url(/assets/Roboto/Roboto-Bold.ttf);
}

.bgColor {
    background-color: #222F3F;
}

.bgDayImg {
    background-image: url(/assets/WeatherDay.png);
    background-size: 75% 9000px;
    background-position: right;
    background-repeat: no-repeat;
}

.bgNightImg {
    background-image: url(/assets/WeatherNight.png);
    background-size: 75% 9000px;
    background-position: right;
    background-repeat: no-repeat;
}

.robo {
    font-family: robo;
}

.robot {
    font-family: robo-t;
}

.dwn {
    padding-top: 50px;
}

.ef {
    font-size: 85px;
    color: white;
}

.trd {
    font-size: 30px;
    color: white;
}

.padend {
    padding-right: 60px;
}

.inputbox {
    height: 95px;
    width: 450px;
}

.inputcolor {
    background-color: #252525B2;
    color: #5D5D5D;
    padding-left: 25px;
}

.ted {
    font-size: 280px;
    color: white;
}

.oft {
    font-size: 150px;
    color: white;
}

.dwnmore {
    padding-top: 140px;
}

.fut {
    font-size: 40px;
    color: white;
}

.at {
    font-size: 80px;
    color: white;
}

.white {
    color: white;
}

.closeColor {
    background-color: #37588A;
}

.openColor {
    background-color: #3385FF;
}

.robol {
    font-family: robol;
}

.ft {
    font-size: 50px;
    color: white;
}

.padstart {
    padding-left: 75px;
}

hr {
    height: 3px;
    background-color: white;
    opacity: 100%;
}

.robob {
    font-family: robob;
}

input {
    background-image: url(/assets/MagnigifyingGlass.png);
    background-size: 50px 50px;
    background-position: 95%;
    background-repeat: no-repeat;
}

.dwnmed {
    padding-top: 115px;
}